.input {
  background-color: var(--gray-500);
  color: var(--gray-100);

  border-style: solid;
  border-width: 1px;
  border-color: var(--gray-700);
  border-radius: 8px;
  
  flex: 1;
  outline: none;
  padding: 1rem;
}

.input:focus {
  border-color: var(--purple-dark);
}