.todoItem {
  display: flex;
  justify-content: space-between;
  background-color: var(--gray-500);
  padding: 1rem; 
  border-width: 1px;
  border-style: solid;
  border-color: var(--gray-400);
  border-radius: 8px;
  margin-bottom: 0.75rem;
}

.todoItem .text {
  flex: 1;
  padding: 0 12px;
}

.todoItem .text p {
  font-size: 0.875rem;
  color: var(--gray-100);
  font-weight: 400;
}

.todoItem .text p.isFinished {
  text-decoration-line: line-through;
  color: var(--gray-300);
}