.checkbox .checkmark {
  width: 18px;
  height: 18px;
  position: relative;
}

.checkbox .checkmark {
  display: block;
  width: 18px;
  height: 18px;
  border-width: 1;
  border-style: solid;
  border-color: var(--blue);
  border-radius: 17px;
  cursor: pointer;
}

.checkbox:hover .checkmark {
  border-color: var(--blue-dark);
  background-color: rgba(30, 111, 159, 0.2);
}

.checkbox .checkmark img {
  display: none;
  position: absolute;
  top: 5px;
  left: 3px;
}

.checkbox input[type="checkbox"] {
  appearance: none;
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
  cursor: pointer;
}

.checkbox input[type="checkbox"]:checked ~ .checkmark {
  background-color: var(--purple-dark);
}

.checkbox input[type="checkbox"]:checked ~ .checkmark img {
  display: block;
}